{% extends 'layouts/main.html' %} {% block title %}New Show Listing{% endblock
%} {% block content %}
<div class="form-wrapper">
  <form method="post" class="form" novalidate>
    {{ form.hidden_tag() }}
    <h3 class="form-heading">List a new show</h3>

    {% for field in ['artist', 'venue', 'start_time'] %} {% if
    form[field].errors %}
    <div class="text-danger">
      {% for error in form[field].errors %}
      <div>{{ field }}: {{ error }}</div>
      {% endfor %}
    </div>
    {% endif %} {% endfor %}

    <div class="form-group">
      {{ form.artist.label() }}
      {{ form.artist(class_ = 'form-control', autofocus = true) }}
    </div>

    <div class="form-group">
      {{ form.venue.label() }}
      {{ form.venue(class_ = 'form-control') }}
    </div>

    <div class="form-group">
      {{ form.start_time.label() }}
      {{ form.start_time(class_ = 'form-control', placeholder='YYYY-MM-DD HH:MM') }}
    </div>

    <input
      type="submit"
      value="Create show"
      class="btn btn-primary btn-lg btn-block"
    />
  </form>
</div>
{% endblock %}
