{% extends 'layouts/main.html' %} {% block end_head %}
<link rel="stylesheet" href="/static/css/new-artist-form.css" />
<script src="/static/js/new-artist-form.js" defer></script>
{% endblock %} {% block title %}New Artist{% endblock %} {% block content %}
<div class="form-wrapper">
  <form method="post" class="form" novalidate>
    {{ form.hidden_tag() }}
    <h3 class="form-heading">List a new artist</h3>

    {% for field in ['name', 'city', 'state', 'phone', 'genres',
    'facebook_link', 'website', 'available_times'] %} {% if form[field].errors
    %}
    <div class="text-danger">
      {% if field == 'available_times' %} {% for availabilityError in
      form.available_times.errors %}
      <br hidden />
      {% for availability in ['day_of_week', 'from_time', 'to_time'] %}
      <br hidden />
      {% if availabilityError[availability] %} {% for err in
      availabilityError[availability] %}
      <br hidden />
      {{ availability }}:
      <p>{{ err }}</p>
      {%endfor%} {% endif %} {% endfor %} {%endfor%}

      <br hidden />
      {%else%}
      <br hidden />
      {% for error in form[field].errors %}
      <p>{{ field }}: {{ error }}</p>
      {% endfor %} {%endif%}
    </div>
    {% endif %} {% endfor %}

    <div class="form-group">
      <label for="name">Name</label>
      {{ form.name(class_ = 'form-control', autofocus = true) }}
    </div>

    <div class="form-group">
      <label>City & State</label>
      <div class="form-inline">
        <div class="form-group">
          {{ form.city(class_ = 'form-control', placeholder='City') }}
        </div>

        <div class="form-group">
          {{ form.state(class_ = 'form-control', placeholder='State') }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx') }}
    </div>

    <div class="form-group">
      {{ form.image_link.label() }}
      {{ form.image_link(class_ = 'form-control') }}
    </div>

    <div class="form-group">
      <label for="genres">Genres</label>
      <small>Ctrl+Click to select multiple</small>
      {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas') }}
    </div>

    <div class="form-group">
      <label for="genres">Facebook Link</label>
      {{ form.facebook_link(class_ = 'form-control', placeholder='http://') }}
    </div>

    <div class="form-group">
      {{ form.website.label() }}
      {{ form.website(class_ = 'form-control', placeholder='http://') }}
    </div>

    <div class="form-group">
      {{ form.seeking_venue() }}
      {{ form.seeking_venue.label() }}
    </div>

    <div class="form-group">
      {{ form.seeking_description.label() }}
      {{ form.seeking_description(class_ = 'form-control') }}
    </div>

    <div class="availabilities" id="availabilities">
      {{ form.available_times.label() }}
      <button type="button" class="btn btn-sm availability__add">
        Add
      </button>

      <div class="availability__row availability__row--head">
        <div>Day of week</div>
        <div>From</div>
        <div>To</div>
      </div>

      <div class="availability-entities">
        {% for availability in form.available_times %}
        <br hidden />
        {% with %}
        <br hidden />
        {%set availability=availability %} {%set index=loop.index0 %} {% set
        size = form.available_times|length %}
        <br hidden />
        {% include 'forms/new-artist-availability-partial.html' %}
        <br hidden />
        {%endwith%}
        <br hidden />
        {% endfor %}
      </div>
    </div>

    <input
      type="submit"
      value="List Artist"
      class="btn btn-primary btn-lg btn-block"
    />
  </form>
</div>
{% endblock %}
